@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <div class="hero-content">
        <h1>@localizer["website_wel"]<span class="brand-text">@localizer["user_string"]</span></h1>
        <p>@localizer["jwt_web"]</p>
        <div class="hero-buttons">
            <a href="/Account/Login" class="btn btn-primary">@localizer["login"]</a>
            <a href="/Account/Register" class="btn btn-outline">@localizer["register"]</a>
        </div>
    </div>
</div>
